/* Introduction Container */
.intro-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #151723;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Introduction Text Styling */
.intro-text {
    width: 50%;
    font-size: large;
}

/* Introduction Image Container Styling */
.intro-image {
    width: 50%;
}

/* Introduction Image Styling */
.intro-image img {
    width: 85%;
    max-width: 100%;
    height: auto;
    margin: auto 0;
    margin-top: 0;
    margin-left: 25%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Caption Styling */
.intro-image .image-caption {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 85%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    color: oldlace;
    opacity: 80%;
}

/* Media Queries */
/* Adjusts for tablet sizes */
@media screen and (max-width: 768px) {
    .intro-text {
        font-size: medium;
    }

    .intro-image img {
        width: 75%; 
        margin-top: 10%;
        margin-left: 20%;
    }
}

/* Adjusts for mobile sizes */
@media screen and (max-width: 480px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-text, .intro-image {
        width: 100%;
    }

    .intro-text {
        font-size: small;
        margin-bottom: 20px;
    }

    .intro-image img {
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }
}
