.nav-container {
  width: 100%;
  margin: 0;
  background-color: #151723;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 1000; /* to ensure it's above other content */
  background-color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151723;
  padding: 15px 10px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  color: oldlace;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.nav-links a:last-child {
  margin-right: 0;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-personal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: oldlace;
}

.name {
  font-weight: bold;
}

.info {
  opacity: 0.7;
  font-weight: lighter;
}

/* Media Queries */
/* Adjusts for tablet sizes */
@media screen and (max-width: 768px) {
  nav {
    padding: 12px 8px;
  }

  .nav-links a {
    font-size: 0.9em; /* Slightly reduce font size for tablet screens */
    margin-right: 15px; /* Slightly reduce spacing between links */
  }
}

/* Adjusts for mobile sizes */
@media screen and (max-width: 480px) {
  nav {
    padding: 10px 5%; /* Increase horizontal padding for some breathing space */
  }

  .nav-links a {
    font-size: 0.8em; /* Reduce font size for mobile screens */
    margin-right: 10px; /* Reduce spacing between links for smaller screens */
  }

  .name, .info {
    font-size: 0.9em; /* Slightly reduce font size for mobile screens */
  }
}
