.nav-container {
    width: 100%;
    margin: 0;
    background-color: #151723;
    padding: 0px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #151723;
    padding: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links a {
    color: oldlace;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .nav-personal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: oldlace;
  }
  
  .name {
    font-weight: bold;
  }
  
  .info {
    opacity: 0.7;
    font-weight: lighter;
  }
  