/* Color Scheme */
:root {
  --imperial-red: #f03a47ff;
  --redwood: #af5b5bff;
  --white-smoke: #f6f4f3ff;
  --celtic-blue: #276fbfff;
  --delft-blue: #183059ff;
}

/* Global settings and resets */
body, h1, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--white-smoke);
  color: var(--delft-blue);
  padding: 0 0px 0 0;
  margin: 0;
}

/* Navbar styles */
nav {
  background-color: var(--delft-blue);
  height: 60px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  justify-content: space-around;
  padding: 0 20px;
}

nav li {
  margin: 0 10px;
}

nav a, nav a:hover {
  text-decoration: none;
  color: var(--white-smoke);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Introduction styles */
.hello-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.hello-container h1 {
  margin: 0 10px; 
  font-size: 24px;
  font-weight: bold;
}

.hello-container h1::before, .hello-container h1::after {
  content: '';
  flex: 1;
  height: 1px;
  background: var(--redwood);
  position: absolute;
  top: 50%;
  z-index: -1;
}

.hello-container h1::before {
  right: 100%; /* Push to the left side of the text */
  margin-right: 10px; /* Space from the text */
}

.hello-container h1::after {
  left: 100%; /* Push to the right side of the text */
  margin-left: 10px; /* Space from the text */
}

.intro {
  color: var(--delft-blue);
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}

/* Section headings */
.section-heading {
  text-align: center;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Button Styles */
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.resume-btn, .linkedin-btn {
  margin: 0 10px; /* Spacing between buttons */
  padding: 10px 15px; /* Adjusted for width */
  border: 3px solid var(--imperial-red);
  color: var(--delft-blue);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block; /* For side by side display */
}

.resume-btn:hover, .linkedin-btn:hover {
  background-color: var(--white-smoke);
}
